body{
    margin: 0;
    text-align: center;

}
.background {
    background-image: url('C:\Users\punit\Downloads\Website\images for website\killua-yawning.gif');
    background-position: center;
    background-size: cover;
    overflow: hidden;
  }